# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_USER=tp_user
DB_PASSWORD=1234
DB_NAME=crusty_crab

# Backend Configuration
FLASK_ENV=development
BACKEND_URL=http://backend:5000

# Frontend Configuration
BACKEND_URL=http://backend:5000

# MySQL Root
MYSQL_ROOT_PASSWORD=root_password
